body {
    background: #202020;
    color: white;
}
#header{
  color:white;
  text-align:center;
  font-size:30px; 
}
button {
    width: 100px;
    height: 30px;
    border: 3px solid purple;
    border-radius: 50px;
    background: grey;
    color: yellow;
    font-size:20px;
}
button:hover{
    background-color:blue;
}

#stopwatch {
    font-size: 80px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
    border:3px solid purple;
    border-radius: 30px;
    background: grey;
    color:yellow;
    padding:10px;

    
}
#buttons {
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-51.6%, -45%);
  
}
@media only screen and (max-width: 600px){
    
    button{
        width:100%;
        margin:10px;
        font-size:16px;
      
}
#stopwatch{
font-size:30px;
        
    }
#header{
width:100%;
font-size:20px;
    
   

}
}